body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
}

.banner {
    /* Add your banner styling here */
}

.register-form {
    margin-top: 20px;
}

.label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Align the button to the right */
}

button {
    background-color: #4caf50;
    color: white;
    padding: 7px;
    border: 2px solid; /* Added 'solid' to specify border style */
    cursor: pointer;
}

button:hover {
    background-color: #4e9452;
}
